<web-app version="4.0">
  <display-name>Banking App</display-name>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>


  <filter>
    <filter-name>GuestFilter</filter-name>
    <filter-class>ua.training.controller.filter.GuestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GuestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>EncodingFiler</filter-name>
    <filter-class>ua.training.controller.filter.EncodingFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>EncodingFiler</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>ua.training.controller.filter.AuthorizationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>JspFilter</filter-name>
    <filter-class>ua.training.controller.filter.JspFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>JspFilter</filter-name>
    <url-pattern>/jsp/*</url-pattern>
  </filter-mapping>


</web-app>
